body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  background-color: #1c1721;
  color: #c37afb;
  /*background-image: url("img/eva.jpg");*/
  }
  a{
      color: rebeccapurple;
      text-decoration: none;
  }
  .first{
    position: relative; left:25%; right: 25%; top: 10%; width: 50%; text-align: justify; letter-spacing: 0.5px;
  }
  .ok{
    position: relative; left:25%; right: 25%; top: 30%; width: 50%; text-align: justify; letter-spacing: 0.5px;
  }
  .heart{
    color: red;
  }
  .infoSection{
    position: relative;
    background-color: white;
    width: 100%;
    color: black;
    
  }